#top {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 800px;
  background-color: #dcc9f4;
  text-align: center;
}

.top-child {
  display: inline-block;
  width: 20%;
  background-color: #ffd9df;
}

#middle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 800px;
  height: 800px;
  background-color: #ffd9df;
}
#middle-child01 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: #87ceeb;
}
#middle-child02 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 300px;
  left: 300px;
  background-color: #87ceeb;
}
#middle-child03 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 500px;
  left: 500px;
  background-color: #87ceeb;
}
#bottom {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 800px;
  height: 300px;
  background-color: #87ceeb;
}
#bottom-child01 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
}
#bottom-child02 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  position: relative;
  left: 200px;
}
#bottom-child03 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  position: relative;
  left: 400px;
}
